<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Job Search</title>
  </head>
  <body class="home_body">
    <form class="search-form" action="/report" method="GET">
      <h1>Job Search</h1>
      <input
        id="search-input"
        placeholder="What job do you want?"
        required
        name="word"
      />
    </form>
  </body>
</html>
